*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background-color: rgb(246, 246, 229);
    color: #183740;
    overflow: hidden;
    overflow-y: scroll;
}

html{
    scroll-behavior: smooth;
}